.tablesContainer {
    width: 100%;
    height: 125px;
    margin-bottom: 25px;
}

/* tablesContainer Hover */
.tablesContainer td:hover {
    background-color: #f1d3d3;
}

.tablesContainer td {
    vertical-align: top;
    /* pushes text to the top */
}

.tablesContainer #cell2 {
    text-align: left;
}

.tablesContainer th {
    white-space: nowrap;
    font-size: large;
}

#tableWrapper td {
    text-align: center;
}
#dictionaryTable {
    display: inline;
    width: auto;
}