.outerdiv {
    display: flex;
}

.rightdivdictionary {
    display: inline;
    flex: 0.25;
    margin-left: auto;
    margin-right: 8px;
    vertical-align: top;
    padding-top: 0px;
    margin-top: 0px;
}

.leftdivdictionary {
    display: inline;
    flex: 0.75;
    margin-left: 8px;
    margin-right: auto;
}

.pageSearch {
    vertical-align: top;
    text-align: right;
}

.keyword {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.outererestp {
    font-size: large;
    margin: 50px;
    padding: 50px;
    margin-inline: 50px;
}

#includeTarget {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 100%;
}

#leftleftdivdictionary{
    width: 100%;
    text-align: left;
    margin-left: 0px;
    margin-right: 20px;
    padding: 0;
}

#rightleftdivdictionary{
    width: 0px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
}

/* hovers */
#dirSummaryTable td:hover,
#recSummaryTable td:hover,
.leftdivdictionary td:hover,
.rightdivdictionary td:hover {
    background-color: #f1d3d3;
}

#dirSummaryTable,
#recSummaryTable {
    width: 100%;
    margin-bottom: 100px;
}

#dirSummaryTable-header,
#recSummaryTable-header {
    text-align: center;
    font-size: 1.2em;
    padding: 6px;
    font-weight: bold;
    background-color: rgb(202, 79, 79);
}

#dirSummaryTable, #recSummaryTable {
    margin-bottom: 30px;
}
