#outerdivp99 {
    display: flex;
}

#innerdivp99 {
    display: inline;
    flex: 1;
    margin-left: 8px;
    margin-right: 8px;
}

#headerp99 {
    margin-top: 0px;
    padding-top: 0px;
}

#textBoxContainer {
    margin-top: 300px;
}

/*
#suggestions {
    border: solid 0px black;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ececec;
    max-height: 200px;
    overflow: auto;
    z-index: 10;

    width: 177px;
    margin-left: auto;
}
*/

.GenderTh {
    width: 150px;
}

.dictionaryDirTables td:hover,
.dictionaryRecTables td:hover {
    background-color: #f1d3d3;
}

.dictionaryDirTables,
.dictionaryRecTables {
    margin-top: 1px;
}

#searchDiv {
    width: 100%;
    align-content: center;
    text-align: center;
    position: relative;
}

#search_field {
    border: black solid 1px;
    border-radius: 10px;
    width: 100%;
    height: 33px;
    text-align: center;
    font-size: 25px;
}

#search_button {
    margin-top: 5px;
    width: 33%;
    border: black solid 1px;
    border-radius: 10px;
    background-color: var(--table1);
    font-size: 15px;
}

#search_button:hover {
    cursor: pointer;
}

#suggestions {
    border: solid 0px black;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 100%;
    margin: 6px 0 0 0;
    padding: 0;
    list-style: none;
    background: #ececec;
    max-height: 200px;
    overflow: auto;
    z-index: 10;
    width: 25%;
    transform: translateX(-50%);
    scrollbar-width: none;
}