#exalted4exampletable {
    width: 33%;
    height: 106px;
    margin-bottom: 0px;
    margin-left: 2%;
}

/* exalted4exampletable Hover */
#exalted4exampletable td:hover {
    background-color: #f1d3d3;
}