.page {
    display: none;
}

.pages {
    padding-bottom: 65px; /* space for nav buttons */
    position: relative;
    isolation: isolate;
}

.page.active {
    display: block;
}

.pages,
.page {
    background-color: transparent; /* let table background show */
}
