#dirrec {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #f2c8c8;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;

    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    width:80%;
}