#genderexplainertext {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #f2c8c8;

    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;

    padding: 10px;
    width:80%;
}