#nountextbox1 {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #f2c8c8;

    margin-bottom: 10px;
    margin-left: 4px;

    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    width:auto;
    height: 492px;
}