/* TableWrapper */
.TableWrapperp3 {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.Leftdivp3 {
    display: inline;
    flex: 0.8;
    margin-bottom: 20px;
    margin-right: 0px;
}

.rightdivp3 {
    display: inline;
    flex: 0.2;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 5%;
}
