.pages {
    flex: 1;
    padding: 20px;
}

#tab-bar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(200px, auto); /* here you edit minimum size */
    justify-content: start;
    background: var(--bg1);
    border-top: 1px solid #ccc;
    z-index: 99999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    text-wrap: nowrap;
}

#tabbar {
    flex: 0;
    width: 100%;
    height: 45px;
    border: none;
    margin-bottom: 5px;
}

.tab {
    width: auto;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #ccc;
    min-width: max-content;
}

.tab.active {
    background: var(--bg);
    font-weight: bold;
    border: 1px solid var(--accent);
    border-top: 2px solid var(--accent);
    border-bottom: 0px solid var(--accent);
}
