.pages {
    flex: 1;
    padding: 20px;
}

.tab-bar {
    display: block;
    grid-auto-flow: column;
    justify-content: start;
    bottom: 0;
    left: 0;
    width: 100%;
}

.tab-bar:hover {
    cursor: pointer;
}

.tabs {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(200px, auto);
    /* here you edit minimum size where is*/
    justify-content: start;
    background: var(--bg1);
    border-top: 0px solid #ccc;
    z-index: 99999;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 90%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    text-wrap: nowrap;
    height: 5.5%;
}

.tab {
    width: auto;
    padding: 10px 20px;
    text-align: center;
    border-right: 1px solid #ccc;
    min-width: max-content;
}

.tab.active {
    background: var(--bg);
    font-weight: bold;
    border: 1px solid var(--accent);
    border-top: 2px solid var(--accent);
    border-bottom: 0px solid var(--accent);
}

#settings {
    display: block;
    background: var(--bg1);
    border-top: 0px solid var(--border);
    border-right: 0px solid var(--border);
    z-index: 99999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10%;
    text-wrap: nowrap;
    height: 5.5%;
}

#modeToggle {
    display: block;
    height: 100%;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
}